<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ARKEP</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
        
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap2.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/font-awesome/css/font-awesome.min.css')}}">
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/form-elements.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style7.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/media-queries.css')}}">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-144-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-114-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-72-precomposed.png')}}">
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/ico/apple-touch-icon-57-precomposed.png')}}">

    </head>

    <body>


        <!-- Description -->
		<div class="description-container">
	        <div class="container">
	        	<div class="row">
	             
	            </div>
	            <div class="row">
	                
<img src="static/assets/img/logoja.png" alt="logoja" width="200" height="150">
	                  <div class="col-md-12 description-text">
	                   <strong style="position: absolute;bottom: 150px;left: 33%;">
	                    	Autoriteti Rregullativ i Komunikimeve Elektronike dhe Postare

	                    </strong></div>
	            </div>
			</div>
		</div>

		<!-- Multi Step Form -->
		<div class="msf-container">
	        <div class="container">
	        
	            <div class="row">
	                <div class="col-sm-12 msf-form">

	                    <form role="form" action="" method="post" class="form-inline">


   <div class="fusha">

	                    	<fieldset >
	            				<h4>Qellimi i njoftimit <span class="step">(Hapi 1 / 5)</span></h4>
	            				<div class="radio-buttons-1">
				                	<p>Ju lutem, zgjedhni qellimin e njoftimit:</p>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="fillimi_i_sherbimit"> Fillimi i sherbimit
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="shtim_sherbimi"> Shtim sherbimi
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="heqje_sherbimi"> Heqje sherbimi
					                </lab
</div>
	            				<br>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
	            			</fieldset>
  
                                            
                                          




	            			<fieldset>
	            				<h4>Te dhenat per ndermarresin <span class="step">(Hapi 2 / 5)</span></h4>
	   <div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;"type="name" name="emri_nder" class="form-control"  placeholder="Emri i Ndërmarrësit (Entiteti)">
   
				                    </div>
</div>

 <div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name" name="emri_nder" class="form-control"  placeholder="Numri i Regjistrimit të Biznesit">
   
				                    </div>
</div>


<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name" name="emri_nder" class="form-control"  placeholder="Numri fiskal">
   
				                    </div>
</div>


<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name" name="nr_fiskal" class="form-control"  placeholder="Numri fiskal">
   
				                    </div>
</div>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name" name="adresa" class="form-control"  placeholder="Adresa">
   
				                    </div>
</div>


<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="nr_tel" class="form-control"  placeholder="Numri i Telefonit">
   
				                    </div>
</div>


<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="nr_fax" class="form-control"  placeholder="Numri i Faksit">
   
				                    </div>
</div>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="email" class="form-control"  placeholder="Email">
   
				                    </div>
</div>


	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
	            			</fieldset>
                                          
                                        
	            			<fieldset>
	            				<h4>TË DHËNAT PËR ZYRTARIN LIGJËRISHT TË PËRGJEGJËSHËM <span class="step">(Hapi 3 / 5)</span></h4>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="emri_zyrtarit" class="form-control"  placeholder="Emri i zyrtarit">
   
				                    </div>
</div>
	            				

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="adresa_zyrtarit" class="form-control"  placeholder="Adresa">
   
				                    </div>
</div>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="nr_tel_zyrtarit" class="form-control"  placeholder="Numri i Telefonit">
   
				                    </div>
</div>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="nr_fax_zyrtarit" class="form-control"  placeholder="Numri i Faksit">
   
				                    </div>
</div>

<div class="row">         				
        <div class="col-md-12">
      <input style="width:60%;  margin-top: 3%;
    height: 80%;" type="name"  name="nr_id" class="form-control"  placeholder="Id">
   
				                    </div>
</div>

       	
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
	            			</fieldset>

	                    	<fieldset>


	            				<h4> AKTIVITETET TË CILAT NJOFTOHEN/CREGJISTROHEN: <span class="step">(Hapi 4 / 5)</span></h4>
	            				<div class="radio-buttons-2">
				                	<b>Ofrimi i rrjetit publik fiks:</b> <br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="lokal" onclick="javascript:yesnoCheck();" id="noCheck"> Lokal
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="nacional" onclick="javascript:yesnoCheck();"  id="noCheck"> Nacional
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio"  name="radio-buttons-2-options" value="tjera_rrjet_fiks" onclick="javascript:yesnoCheck();" id="yesCheck"> Tjera

					                </label>
                                     <div id="ifYes" style="visibility:hidden">
                                    If yes, explain: <input type='text' id='yes' name='yes'><br>

                                    </div>

								</div>

                                <div class="radio-buttons-2">
				                	<b>Ofrimi i shërbimeve publike fikse:</b>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-3-options" value="tel_lokal" onclick="javascript:yesnoCheck2();" id="noCheck2"> Shërbime telefonike lokale/nacionale
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-3-options" value="tel_nderkombetar" onclick="javascript:yesnoCheck2();"  id="noCheck2"> Shërbime telefonike ndërkombëtare
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio"  name="radio-buttons-3-options" value="tel_publik_pagese" onclick="javascript:yesnoCheck2();" id="noCheck2"> Telefona publik me pagesë

					                </label><br>
                                    <label class="radio-inline">
					                	<input type="radio"  name="radio-buttons-3-options" value="sherb_tjera" onclick="javascript:yesnoCheck2();" id="yesCheck2"> Shërbime tjera

					                </label>
                                     <div id="ifYes2" style="visibility:hidden">
                                    If yes, explain: <input type='text' id='yes' name='yes'><br>

                                    </div>
                                </div>
                                     <br>
                                <div class="radio-buttons-2">
				                	<b>Ofrimi i rrjetit publik mobil:</b><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-4-options" value="mob_lokal" > Lokal
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-4-options" value="mob_nac"> Nacional
					                </label>
								</div>
                                    <br>
                                    <div class="radio-buttons-2">
				                	<b>Ofrimi i shërbimeve publike mobile:</b><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-5-options" value="tel_ze" > Shërbime telefonike të zërit
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-5-options" value="trans_dhena"> Transmetim të dhënash
					                </label>
								</div>

                                    <div class="radio-buttons-2">
				                	<b>Ofrimi i shërbimeve të linjave me qira:</b><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-6-options" value="fiber_optik" > Fibër optik të pa-ndriçuar
					                </label><br>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-6-options" value="linja_qera"> Linja tjera me qira
					                </label>
								</div>
                                    <br>
                                    <div class="radio-buttons-2">
				                	<b>Ofrimi i rrjetave publike me transmetim satelitor:</b>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-7-options" value="trans_satelit" > Ofrimi i rrjetave publike me transmetim satelitor
					                </label>

								</div>
	            				<br>
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>

                            </fieldset>


	            			<fieldset>
	            				<h4 style="	margin-top: 20px;
margin-bottom: 30px;
font-weight: 700;
line-height: 26px;
margin-right: 10;
	">Përshkrimi i aktivitetit dhe faza e ofrimit: <br><span class="step">(Hapi 5 / 5)</span></h4>
	            				<div class="form-group">
                                    
									<label for="about-you">Të jepen përshkrime të detajuara për secilin
                                        aktivitet të njoftuar duke specifikuar:</label><br>
                                      <div class="row" >
  <div class="col-md-10" >
				                   <label style="position: relative;right: -2%;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                       A do të përdoret rrjeti vetanak apo ndonjë rrjet tjetër, <br> 
 </label><label style="position: relative;right: 14%;"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                        Teknologjia e cila do të përdoret,<br> 
                                       </label><label><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                        Radio frekuencat, të cilat planifikohen
                                        të përdoren <br> </label><label><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                                        Lista e shërbimeve që planifikohen të ofrohen, Etj<br> </label>
                  </div>    </div>                 
<div class="row" >
                                        <div class="col-md-12" >
                                        </label> <textarea style="border: 1px solid #ccc;width: 100%;
height: 160px; border-radius: 10px;" name="about-you" class="form-control" rows="3"></textarea>
                                   
                                   </div>   </div>
									<br> <br>

				                      <label class="control-label" style="position: relative;right: 80px;font-weight: bold;">Kopje e certifikatës së regjistrimit të biznesit
</label>
    <input id="input-6" name="input6[]" type="file" multiple class="file-loading" >
    <script>
    $(document).on('ready', function() {
        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg"
        });
    });
    </script>

                          <label class="control-label" style="position: relative;right: 115px; font-weight: bold;">Kopje e Certifikatës së numrit fiskal
</label>
    <input id="input-6" name="input6[]" type="file" multiple class="file-loading" >
    <script>
    $(document).on('ready', function() {
        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg"
        });
    });
    </script>
                       

                                             <label class="control-label" style="position: relative;right: 80px;font-weight: bold;">Kopje e dokumentit ‘Informatë mbi biznesin
</label>
    <input id="input-6" name="input6[]" type="file" multiple class="file-loading" >
    <script>
    $(document).on('ready', function() {
        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg"
        });
    });
    </script>
                       
                                    
				                </div>



				                <script type="text/javascript">

  function checkForm(form)
  {
    ...
    if(!form.terms.checked) {
      alert("Please indicate that you accept the Terms and Conditions");
      form.terms.focus();
      return false;
    }
    return true;
  }

</script>

<form ... onsubmit="return checkForm(this);">
...
<p><input type="checkbox" name="terms"> Un i pranoj<u onclick="myFunction()"> Termet dhe Kushtet</u>
<script>
function myFunction() {
    alert("Unë nëpërmjet këtij dokumenti deklaroj se do të ushtroj aktivitet në fushën e komunikimeve elektronike të shënuara më sipër dhe aplikoj për regjistrim në regjistrin e ofrueseve të rrjeteve dhe shërbimeve të komunikimeve elektronike të Autoritetit (ARKEP).");
}
</script>
</p>

</form>
	            				<!--<br>
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>-->

                                <br>
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="submit" class="btn">Submit</button>
	            			</fieldset>
 </div>

                            <!--


	            			<fieldset>
	            				<h4>Why You Want To Join <span class="step">(Hapi 6 / 7)</span></h4>
	            				<div class="form-group">
									<label for="why-join">Tell us why you want to join our application:</label><br>
				                    <textarea name="why-join" class="why-join form-control" id="why-join"></textarea>
				                </div>
	            				<br>
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="button" class="btn btn-next">Next <i class="fa fa-angle-right"></i></button>
	            			</fieldset>

	            			<fieldset>
	            				<h4>Other Form Elements <span class="step">(Step 7 / 7)</span></h4>
				                <div class="radio-buttons-8">
				                	<p>Radio Buttons 1:</p>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="radio-buttons-1-option-1"> Option 1
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="radio-buttons-1-option-2"> Option 2
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="radio-buttons-1-option-3"> Option 3
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-1-options" value="radio-buttons-1-option-4"> Option 4
					                </label>
								</div>
				                <div class="radio-buttons-9">
									<p>Radio Buttons 2:</p>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="radio-buttons-2-option-1"> Option 1
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="radio-buttons-2-option-2"> Option 2
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="radio-buttons-2-option-3"> Option 3
					                </label>
					                <label class="radio-inline">
					                	<input type="radio" name="radio-buttons-2-options" value="radio-buttons-2-option-4"> Option 4
					                </label>
								</div>
	            				<br>
	            				<div class="checkboxes-1">
	            					<p>Checkboxes 1:</p>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-1-options" value="checkboxes-1-option-1"> Option 1
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-1-options" value="checkboxes-1-option-2"> Option 2
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-1-options" value="checkboxes-1-option-3"> Option 3
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-1-options" value="checkboxes-1-option-4"> Option 4
					                </label>
								</div>
								<div class="checkboxes-2">
	            					<p>Checkboxes 2:</p>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-2-options" value="checkboxes-2-option-1"> Option 1
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-2-options" value="checkboxes-2-option-2"> Option 2
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-2-options" value="checkboxes-2-option-3"> Option 3
					                </label>
					                <label class="checkbox-inline">
					                	<input type="checkbox" name="checkboxes-2-options" value="checkboxes-2-option-4"> Option 4
					                </label>
								</div>
	            				<br>
	            				<div class="selects-1">
									<p>Select 1:</p>
					                <select class="form-control" name="select-1">
					                	<option value="1">Option 1</option>
					                	<option value="2">Option 2</option>
					                	<option value="3">Option 3</option>
					                	<option value="4">Option 4</option>
					                </select>
								</div>
								<div class="selects-2">
									<p>Select 2:</p>
					                <select class="form-control" name="select-2">
					                	<option value="1">Option 1</option>
					                	<option value="2">Option 2</option>
					                	<option value="3">Option 3</option>
					                	<option value="4">Option 4</option>
					                </select>
								</div>
	            				<br>
	            				<button type="button" class="btn btn-previous"><i class="fa fa-angle-left"></i> Previous</button>
	            				<button type="submit" class="btn">Submit</button>
	            			</fieldset>

                            -->

	                    </form>

	                </div>
	            </div>
			</div>
		</div>

        <!-- Javascript -->
        <script src="{{ url_for('static', filename='assets/js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.backstretch.min.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/scripts.js')}}"></script>
        <script src="{{ url_for('static', filename='assets/js/script.js')}}"></script>

    </body>

</html>
